SECRET_KEY=django-insecure-replace-this-in-production
DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
MONGODB_URI=mongodb://localhost:27017/

# Firebase Service Account JSON (Minified string)
# FIREBASE_CREDENTIALS_JSON={"type":"service_account",...}

# Cloudinary Config
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
